@import "@/assets/scss/variables.scss";

.readioInputContainer {
  cursor: pointer;
  label {
    cursor: pointer;
    font-size: $font-xs + 4px;
  }
  .radioInput {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    border: 2px solid $white-100;
    cursor: pointer;

    &:checked:before {
      content: "";
      display: block;
      height: 12px;
      width: 12px;
      margin: calc($margin-xs / 2) auto;
      border-radius: 50%;
      background: $primary-color;
    }
  }
}
