/*
    color palette:
        - color-name - actual color
        - color-name-100; lighest
        - color-name-200; brighter than 100
        - color-name-300; brighter than 200
        ........
        ........
        - color-name-900; lighter than color-name

        the palette should not go over 900.
        No longer use of -1, -2 etc, 
        refer to the material ui color palette: https://materialui.co/colors/

        I'd eventually like to go with HSL instead of hash codes, as it's easy to manage the palette
*/

// teal color
$teal: #17c0cc;
$teal-50: #f0fcfc;
$teal-100: #b2eeee;
$teal-200: #17c0cc19;
$teal-500: #7defec;
$teal-900: #035f77;

// white
$white-100: #b5b3b3;
$white-200: #f8faff;

// black
$black: #000000;
$black-50: #313028;
$black-100: #212529;
$black-200: #313028;
$black-700: #2a2f32;

// white
$white: #fff;
// red
$red: #f97171;
$red-100: #ffa7a7;
$red-800: #f72424;
$red-900: #ff0000;

// gray
$gray: #707070;
$gray-30:#cecece;
$gray-50: #eeeeee;
$gray-100: #777777;
$gray-200: #4d4f5c;
$gray-300: #8a8787;
$gray-500: #2a2f3229;
$gray-700: #6897b11f;

// yellow

$yellow-30: #fecf3e;

// green

$green: #00aa06;

// shadow color
$shadow-color: #6897b133;

/*
theme colors, try to use theme colors as much as possible, no longer use of the color names directly.
primary-
secondary-
tertiary-
danger-
warning-
success-
error-
*/

$primary-color: $teal;
$secondary-color: $teal-900;
$tertiary-color: $teal-50;

$primary-border-color: #eeeeee;

/* box shadows */

$input-box-shadow: 0px 3px 6px $gray-700;

/* variables for spacing */

$margin-xs: 4px;
$margin-sm: 8px;
$margin-md: 16px;
$margin-lg: 24px;
$margin-xl: 48px;

$padding-xs: 4px;
$padding-sm: 8px;
$padding-md: 16px;
$padding-lg: 24px;
$padding-xl: 48px;

// font-family
$primary-font: "Barlow", sans-serif;
$secondary-font: "Cormorant Garamond", sans-serif;
$tertiary-font: "Source Sans Pro", sans-serif;

// font-size
$font-xs: 8px;
$font-sm: 14px;
$font-md: 18px;
$font-lg: 24px;
$font-xl: 40px;
