@import "@/assets/scss/variables";
@import "@/assets/scss/mixins";

.button {
  color: $white;
  border-radius: 100px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: $font-md;
  border: 2px solid;
  @include mq(xs) {
    font-size: $font-sm;
    border: none;
    padding: $padding-sm * 1.4;
  }

  &.btn {
    &-lg {
      @include mq(sm) {
        min-width: 100%;
      }

      @include mq(xxs) {
        width: 100%;
        margin: 0;
      }
    }
    &-sm {
      min-width: none;
      padding: $padding-sm $padding-md;
      font-size: $font-sm;
    }
  }
  &:hover {
    background-color: $black;
    color: $white;
  }
  &:disabled {
    cursor: not-allowed;
  }
  &.outline {
    background-color: $white;
    border: 2px solid $secondary-color;
    box-sizing: border-box;
    color: $secondary-color;

    &:hover {
      background-color: $black;
      color: $white;
    }
  }

  &.active {
    background-color: $black;
  }
}
