@import "@/assets/scss/variables.scss";

.formSelect {
  border-radius: 100px;
}

.label {
  font-weight: normal;
}

.select {
  .formSelect {
    border: 1px solid $primary-color;
    height: 46px;
  }
}
