@import "@/assets/scss/variables.scss";
//Business Details
.heading {
  font-size: $font-lg;
}
.nextbtn {
  margin: $margin-xl * 7 $margin-md * 2 0 $margin-xl * 2;
  float: right;
}
//Account Details
.dealershipForm {
  background-color: $teal-50;
  border-radius: 20px;
  padding-bottom: $margin-md;
  .header {
    color: $primary-color;
  }
}
.informationHeading {
  margin-left: $margin-xl;
  font-weight: bold;
  font-family: $secondary-font;
}
.talkbubble {
  width: 100%;
  height: 100px;
  border: 1px solid #cecece;
  border-radius: 20px;
  padding: $padding-md;
  text-align: center;
  font-size: $font-md;
  font-weight: 600;
  color: $black-700;
  text-align: left;
  position: relative;
  box-shadow: 0px 2px 5px rgb(0 0 0 / 15%);
  transition: transform 250ms;
  &:hover {
    background: $primary-color;
    color: $white;
    transform: translateX(-30px);
  }
}
.chat {
  &:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border: 0 solid transparent;
    border-top-width: 8px;
    border-bottom-width: 7px;
    border-right: 19px solid #cecece;
    left: -20px;
    top: 22px;
  }
  &:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border: 0px solid transparent;
    border-top-width: 7px;
    border-bottom-width: 6px;
    border-right: 18px solid white;
    top: 23px;
    left: -18px;
  }
  &:hover:before,
  &:hover:after {
    border-right-color: $primary-color;
  }
}
.submitbtn {
  margin: $margin-xl * 2 0 0 $margin-xl * 5;
  padding-left: $padding-xl * 2;
  font-weight: 500;
}
//Representative
.addRepresentative {
  border-radius: 4px;
  background: $teal-50;
  min-height: 650px;

  .plusCircleContent {
    text-align: center;
    font-size: $font-lg;
    font-weight: 500;
    color: $teal;
  }
  .plusCircle {
    color: $teal;
    opacity: 0.3;
  }
}
.addRepresentative:hover {
  .plusCircle {
    opacity: 1;
  }
}
.updatebtn {
  float: right;
}
//Summary
// .slickDots {
//   .slick-active {
//     background: red;
//   }
// }
// .sliderDots {
//   margin-top: $margin-sm;
//   height: 20px;
//   width: 20px;
//   border-radius: 50%;
//   &:hover {
//     // background-color: $teal-900;
//   }
// }

.button__bar {
  margin: $margin-sm auto;
  padding: 0;
  border-radius: 40px;
  width: 70px;
  text-align: center;
}

.button__bar li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 $margin-sm/3;
}

.button__bar li button {
  border: none;
  border: 2px solid $primary-color;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
}

.button__bar li.slick-active button {
  background-color: $teal-900;
}

.button__bar li button:hover,
.button__bar li button:focus {
  background: $teal-900;
  outline: 0;
}

.summaryContainer {
  padding-left: $padding-xl;
  h5 {
    color: $gray;
  }
  span {
    font-size: $font-lg;
    color: $black-700;
  }
  .profileHeading {
    margin-top: $margin-sm;
  }
  .editIcon {
    height: 50px;
    width: 50px;
  }
}
.feesEdit {
  height: 50px;
  width: 50px;
  margin-left: $margin-xl;
}
.feesHeading {
  margin-top: $margin-sm;
}
.accountContainer {
  width: 430px;
  background-color: $teal-50;
  padding: $padding-sm 0 $padding-md $padding-sm;
  border-radius: 30px;
  span {
    font-size: medium;
    color: $gray;
  }
}
.communicationPreferences {
  margin: $margin-md $margin-xl;
  .communicationPreferencesContainer {
    background-color: $teal-50;
    margin-top: $margin-md;
    border-radius: 20px;
    span {
      font-size: larger;
      font-weight: 500;
      padding: 0 $padding-lg;
    }
  }
}
.downloadAppHeading {
  margin-top: $margin-sm;
  font-family: $secondary-font;
  text-align: center;
  font-weight: bold;
}
.downloadAppContainer {
  min-height: 400px;
  .buttons {
    margin-top: $margin-xl * 2;
    .buttonSeparate {
      font-family: $secondary-font;
      margin: $margin-md $margin-xl;
    }
  }
}
.videoContainer {
  min-height: 250px;
  background: $gray-200;
  border-radius: 10px;
  .video {
    margin-top: $margin-xl;
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    color: $white;
    margin-top: $margin-sm;
    text-align: center;
  }
}
