@import "@/assets/scss/variables.scss";
@import "@/assets/scss/mixins.scss";

.container {
  height: 100%;
  background-color: $teal-50;
  .tittle {
    height: 96px;
    background-color: $teal-900;
    color: $white;

    h5 {
      padding: $margin-md * 2 0 0 $margin-lg;
    }
  }
  .navLinks {
    height: 70px;
    padding: $padding-md;
    display: flex;
    border-bottom: 4px solid $white;
    align-items: center;
    h5 {
      margin-bottom: 0;
    }
    .badge {
      width: 32px;
      height: 32px;
      color: $white;
      border-radius: 2em;
      text-align: center;
      padding-top: $padding-xs;
      margin: 0 $padding-sm 0 $padding-xs;
      background: $red 0% 0% no-repeat padding-box;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.indicatorContainer {
  background-color: $primary-color;
  margin: $margin-sm 0 0 $margin-sm;
  border-radius: 10px;
  height: 300px;
  text-align: center;

  .heading {
    color: $white;
    font-size: $font-xl * 3;
    font-weight: 500;
    height: 60%;
    text-shadow: 1px 1px 5px $black;
  }
  .subHeader {
    color: $white;
    font-size: $font-xl;
    font-weight: 600;
  }
  .content {
    font-weight: 500;
    font-size: $font-lg;
  }
  &.noDeal {
    background-color: $red;
    .heading {
      font-size: $font-xl * 3.5;
    }
  }

  &:hover {
    background-color: $red;
    .heading {
      font-size: $font-xl * 3.5;
    }
  }
}

.header {
  padding: $padding-sm;
  display: flex;
  align-items: flex-end;
  background-color: $primary-color;
  .filterText {
    margin-right: 1vw;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: $white;
    .circle {
      width: 16px;
      height: 16px;
      margin-right: 5px;
    }
    .dayText {
      font-size: 12px;
      font-weight: 500;
    }
  }
}

.listGridContainer {
  border: 3px solid $secondary-color;
  border-radius: 2rem;
  letter-spacing: 0px;
  overflow: hidden;
  display: flex;
  color: $white;
  background-color: $secondary-color;
  .monthBtn {
    color: $secondary-color;
    background-color: $primary-color;
    margin: 0;
    width: 70px;
    height: 38px;
    overflow: hidden;
    text-align: center;
    font-size: calc($font-xl/4);
    font-weight: 600;
    border: none;
    cursor: pointer;
    &.active {
      color: $white;
      background-color: $secondary-color;
    }
    &.inactive {
      color: $secondary-color;
      background-color: $primary-color;
    }
  }
  .monthBtn:nth-child(2) {
    border-right: 3px solid $secondary-color;
    border-left: 3px solid $secondary-color;
  }
  .monthBtn:hover {
    color: $white;
    background-color: $secondary-color;
    border: none;
  }
}

.tableContainer {
  min-height: 300px;
  padding: 0px;
  box-shadow: 0px 3px 6px $shadow-color;
  border: 2px solid $white;
  border-radius: 10px;

  .tableHeader {
    background-color: $black;
    color: $white;
    border-radius: 8px 8px 0px 0px;
  }
  .tableContent {
    padding: 0px;
    overflow: auto;
  }
  .tableFooter {
    background-color: $white;
  }
}
