@import "@/assets/scss/theme.scss";
@import "@/assets/scss/variables.scss";
@import "@/assets/scss/mixins.scss";

.subHeader {
  background-color: $black-700;
}

.subNav {
  .navbar {
    padding-top: $padding-xs;
    padding-bottom: $padding-xs;

    @include mq(lg) {
      padding: 0;
    }
  }

  .brand {
    font-weight: normal;
    color: $white;
    position: relative;
    font-size: $font-lg;
    text-decoration: none;
    padding-left: $padding-sm;
  }

  .navLink {
    font-weight: normal;
    color: $white;
    position: relative;
    font-size: $font-md;
    margin: 0 calc($margin-xs / 4);

    @include mq(md) {
      font-size: $font-sm;
      margin: 0;
    }

    &:hover {
      color: $primary-color;
    }
  }

  .active {
    color: $primary-color;
  }

  .linkItem {
    padding: $padding-md;
  }

  .navbarToggler {
    border-color: $white;

    &:focus {
      box-shadow: none;
    }

    &[aria-expanded="true"] {
      transition-delay: 0.22s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }

  .navbar-expand-lg .navbar-nav .navLink {
    @include mq(md) {
      padding: $padding-sm 0;
    }

    @include mq(lg-min) {
      padding: 0 $padding-lg;
    }
  }

  .leftNavButton {
    color: $white;

    img {
      vertical-align: -5px;
      height: 22px;
      width: auto;
    }
  }

  .badgeBlock {
    position: relative;
    display: inline-block;
  }

  .badge {
    color: $white;
    position: absolute;
    top: -10px;
    transform: translateX(-50%);
    border-radius: 2em;
    font-size: $font-xs * 1.5;
    left: 100%;
    line-height: 16px;
    padding: 0 $padding-xs 0 $padding-xs;
    background: $red 0% 0% no-repeat padding-box;
  }

  @include mq(md) {
    .leftNavButton {
      img {
        display: none;
      }
    }
  }
}
