@import "@/assets/scss/variables.scss";
@import "@/assets/scss/mixins.scss";


.textTitle {
  text-align: center;
  padding: $padding-lg * 2.5 0;
}
  .cardImg {
    height: 350px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
  .subHeading {
    color: $teal-500;
    font-size: $font-lg + 6px;
    font-style: italic;
    font-weight: 600;
    @include mq(xs) {
      font-size: $font-md;
    }
  }
  .mainCardSection {
    border: 1px solid #cecece;
    border-radius: 35px;
    position: relative;
    transition: transform 250ms;
    margin: 60px;
  }
  
  .cardSection {
    width: 100%;
    background: $teal-50;
    padding: 55px;
    @include mq(lg) {
      padding: 55px 150px;
    }
    @include mq(xs) {
      padding: 10px 0px;
    }
  }
  .cardMenu {
    border: 1 px solid white;
    border-radius: 25px;
    margin-bottom: 40px;
  }
  :global {
    .card {
      border-radius: 20px;
    }
  }
  .cardBody {
    color: $white;
    background-color: #313028;
    border-radius: 0 0 20px 20px;
  }
  .titleSection {
    font-family: $secondary-font;
    font-size: $font-lg + 4px;
    text-align: center;
    margin: $margin-md;
  }
  .listSection {
    font-family: $primary-font;
    margin: 6px 0;
    font-weight: normal;
  }
  .actionLink {
    text-align: center;
  }
  .btnFooter {
    display: flex;
    justify-content: center;
  }