@import "@/assets/scss/variables.scss";

.summaryContainer {
  padding-left: $padding-xl;

  .heading {
    margin-top: $margin-sm;
    font-size: $font-lg;
  }

  .editIcon {
    height: 40px;
    width: 40px;
    cursor: pointer;
  }

  .label {
    font-weight: 300;
    font-size: $font-md - 2;
    color: $gray;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &.reverse {
      color: $black;
      font-weight: 500;
    }
  }
  .value {
    color: $black;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &.reverse {
      font-weight: 300;
      font-size: $font-md - 2;
      color: $gray;
    }
  }

  .address {
    display: flex;
    margin-bottom: $margin-lg;
  }
}

.videoContainer {
  min-height: 250px;
  background: $gray-200;
  border-radius: 10px;
  .video {
    margin-top: $margin-xl;
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    color: $white;
    margin-top: $margin-sm;
    text-align: center;
  }
}

.downloadAppContainer {
  min-height: 400px;
  .buttons {
    margin-top: $margin-xl * 2;
    .buttonSeparate {
      font-family: $secondary-font;
      margin: $margin-md $margin-xl;
    }
  }
}

.downloadAppHeading {
  margin-top: $margin-sm;
  font-family: $secondary-font;
  text-align: center;
  font-weight: 600;
  font-size: $font-lg;
}

.communicationPreferences {
  .communicationPreferencesContainer {
    background-color: $teal-50;
    margin-top: $margin-md;
    border-radius: 20px;
    padding: $padding-md;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .notificationLabel {
      font-size: larger;
      font-weight: 500;
      padding: 0 $padding-lg;
    }
  }
}

.button__bar {
  margin: $margin-sm auto;
  padding: 0;
  border-radius: 40px;
  width: 70px;
  text-align: center;
}

.button__bar li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 calc($margin-sm / 3);
}

.button__bar li button {
  border: none;
  border: 2px solid $primary-color;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
}

.button__bar li.slick-active button {
  background-color: $teal-900;
}

.button__bar li button:hover,
.button__bar li button:focus {
  background: $teal-900;
  outline: 0;
}

.accountContainer {
  width: 100%;
  background-color: $teal-50;
  padding: $padding-md;
  border-radius: 30px;
}
