@import "@/assets/scss/variables.scss";
@import "@/assets/scss/mixins.scss";

.contactFooter {
  font-size: $font-lg;
  font-weight: 500;
  @include mq(xs) {
    align-items: center;
    padding: $padding-md;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .footerText {
    color: $primary-color;
    @include mq(xs) {
      font-size: $font-lg * 1.1;
      @include flexCenterContainer;
    }
  }
  .footerSubtext {
    @include mq(xs) {
      font-size: $font-lg * 1;
    }
  }
}
