@import "@/assets/scss/variables.scss";
@import "@/assets/scss/mixins.scss";

.resetSection {
  width: 100%;
  margin: 0;
  height: calc(100vh - 238px);
  background-image: url(../../assets/images/croud.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .resetInn {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: auto;
    .resetLeftsection {
      background-color: #fff;
      padding: $padding-md;
    }
    .resetRightsection {
      background-image: url("../../assets/images/carRight.jpg");
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 690px;
      background-size: cover;
    }
  }
}
