@import "@/assets/scss/variables.scss";
.summarySidebar {
  background-color: $teal-50;
  height: 100vh;
  .header {
    background: $teal-900;
    width: 100%;
  }
  .profileCard {
    margin-top: $margin-md;
    padding-left: $padding-lg;
    .bidderNumber {
      color: $primary-color;
      margin: 0 $margin-md;
      margin-top: $margin-sm;
    }
    .actionDelete {
      margin-left: 10px;
    }
    .cardBody {
      margin-top: $margin-lg;
      span {
        font-size: medium;
        color: $gray;
      }
    }
  }
}
