@import "@/assets/scss/variables.scss";

.profile {
  font-size: $font-sm;
  font-weight: medium;
  text-align: center;
}
.profileDetails {
  &.grid {
    display: flex;
    background-color: $teal-50;
    justify-content: space-between;
    border-radius: 16px;
    padding: $padding-sm $padding-sm 0 $padding-sm;

    .fieldContainer {
      width: 50%;
    }
    .valueContainer {
      width: 50%;
      margin-left: $margin-lg;
    }

    .field {
      font-size: $font-md;
      font-weight: normal;
    }
    .value {
      font-size: calc($font-xl / 2);
      font-weight: medium;
      margin-left: $margin-md;
    }
  }
}

.profileDetails {
  &.table {
    display: flex;
    background-color: $white;
    justify-content: space-between;
    border-radius: 16px;
    padding: $padding-sm $padding-sm 0 $padding-sm;

    .fieldContainer {
      width: 50%;
    }
    .rightContainer {
      width: 50%;
      margin-left: $margin-lg;
    }

    .field {
      font-size: $font-md;
      font-weight: normal;
    }
    .value {
      font-size: calc($font-xl / 2);
      font-weight: medium;
      margin-left: $margin-md;
    }
  }
}
