@import "@/assets/scss/variables.scss";

.sortingArrow {
  margin-left: $margin-xs;
  display: inline-block;
  .chevron {
    height: 15px;
    color: $primary-color;
    display: block;
    cursor: pointer;
    &:first-child {
      margin-bottom: -$margin-xs;
    }
    &:hover {
      color: $primary-color;
    }
    &.active {
      color: $primary-color;
    }
  }
}
