@import "@/assets/scss/variables.scss";
@import "@/assets/scss/mixins.scss";

.backgroundArea {
  position: relative;
  img {
    object-fit: cover;
    //header height of image
    height: calc(100vh - 250px);
    width: 100%;
    @include mq(xs) {
      height: 300px;
      margin-top: $margin-xl * 2.25;
    }
  }
}
.imageText {
  left: 104px;
  top: 0;
  position: absolute;
  padding-right: $padding-md * 4;
  @include flexCenterContainer;
  height: 90%;
  color: $black-700;
  @include mq(xs) {
    text-align: center;
    left: 0;
    padding-right: 0;
    width: 100%;
    display: block;
  }
  ul {
    @include mq(xs) {
      padding-left: $padding-xl;
    }
  }
  h1 {
    font-size: $font-xl * 2.4;
    @include mq(lg) {
      font-size: $font-xl * 2;
    }
    @include mq(md) {
      font-size: $font-xl * 2;
    }
    @include mq(xs) {
      font-size: $font-xl + 2px;
    }
  }
}
.heading {
  font-family: $secondary-font;
  color: $black-700;
  font-weight: bold;
  font-size: $font-lg * 3;
  @include mq(xs) {
    font-size: $font-xl * 2;
    background-color: $white;
    opacity: 100%;
  }
}
.ulText {
  font-family: $secondary-font;
  margin-top: $margin-xl * 2;
  margin-right: 0px;
  font-size: $font-lg * 2.4;
  font-weight: bold;
  margin-left: -$margin-md;
  @include mq(lg) {
    font-size: $font-lg * 2;
  }
  @include mq(md) {
    font-size: $font-lg * 2;
  }
  @include mq(xs) {
    font-size: $font-lg + 4px;
    text-align: left;
    padding-left: $padding-xl;
  }
}
.liText {
  font-family: $secondary-font;
  font-size: $font-lg * 1.6;
  @include mq(lg) {
    font-size: $font-lg;
  }
  @include mq(md) {
    font-size: $font-xl;
  }
  @include mq(xs) {
    font-size: $font-lg;
    text-align: left;
  }
}
.bannerFooter {
  height: 100px;
  width: 100%;
  font-size: $font-xl;
  text-align: center;
  background-color: $teal-500;
  color: $white;
  font-family: $primary-font;
  font-weight: lighter;
  @include flexCenterContainer;
  @include mq(xs) {
    font-size: $font-lg;
  }
}
