@import "@/assets/scss/variables.scss";

.filledHeader {
  background-color: $primary-color;
  color: $white;
}
.closeIcon {
  cursor: pointer;
}
.footer {
  display: flex;
  justify-content: space-around;
  padding: $padding-lg;
}

.modal {
  :global {
    .modal-footer {
      justify-content: center;
      border-top: none;
    }
  }
}