@import '@/assets/scss/variables.scss';

.message {
  display: block;
  background-color: rgba($color: $primary-color, $alpha: 0.3);
  padding: $padding-md;
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
  position: relative;

  &.received {
    border-radius: 8px 8px 8px 0px;
    &::before {
      content: '';
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-left: 10px solid transparent;
      border-right: 5px solid rgba($color: $primary-color, $alpha: 0.3);
      position: absolute;
      bottom: 0px;
      left: -15px;
    }
  }

  &.sent {
    background-color: $secondary-color;
    color: $white;
    margin-left: auto;
    border-radius: 8px 8px 0px 8px;

    &::after {
      content: '';
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-right: 10px solid transparent;
      border-left: 5px solid $secondary-color;
      position: absolute;
      bottom: 0px;
      right: -15px;
    }
  }
}

.time {
  font-size: 12px;
  &.sent {
    text-align: right;
  }
}
