@import "@/assets/scss/variables.scss";
@import "@/assets/scss/mixins.scss";

// Business Details
.heading {
  font-size: $font-lg;
  @include mq(xs) {
    display: none;
  }
}
.nextbtn {
  margin: $margin-xl * 7 $margin-md * 2 0 $margin-xl * 2;
  float: right;
  @include mq(sm) {
    margin: $margin-lg;
  }
  @include mq(xs) {
    margin: $margin-xs;
    width: 100%;
  }
}
//Account Details
.dealershipForm {
  background-color: $teal-50;
  border-radius: 20px;
  padding-bottom: $margin-md;
  @include mq(xs) {
    background-color: $white;
    border-radius: 0;
    margin-bottom: $margin-xl * 2.5;
  }
  .header {
    color: $primary-color;
    @include mq(xs) {
      .header {
        color: $black;
      }
    }
  }
}
.informationHeading {
  margin-left: $margin-xl;
  font-weight: bold;
  font-family: $secondary-font;
}
.talkbubble {
  width: 100%;
  height: 100px;

  border: 1px solid #cecece;
  border-radius: 20px;
  padding: $padding-md;
  text-align: center;
  font-size: $font-md;
  font-weight: 600;
  color: $black-700;
  text-align: left;
  position: relative;
  box-shadow: 0px 2px 5px rgb($black, 0.15);
  transition: transform 250ms;
  &:hover {
    background: $primary-color;
    color: $white;
    transform: translateX(-30px);
  }
}
.chat {
  &:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border: 0 solid transparent;
    border-top-width: 8px;
    border-bottom-width: 7px;
    border-right: 19px solid #cecece;
    left: -20px;
    top: 22px;
  }
  &:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border: 0px solid transparent;
    border-top-width: 7px;
    border-bottom-width: 6px;
    border-right: 18px solid white;
    top: 23px;
    left: -18px;
  }
  &:hover:before,
  &:hover:after {
    border-right-color: $primary-color;
  }
}
.submitbtn {
  margin: $margin-xl * 2 0 0 $margin-xl * 5;
  padding-left: $padding-xl * 2;
  font-weight: 500;
  display: none;
  @include mq(xs) {
    background: $teal-900;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: $padding-lg;
  }
  button {
    @include mq(xs) {
      width: 100%;
      border: none;
    }
  }
}
.bankingResponsive {
  @include mq(xs) {
    background-color: $teal-50;
    padding: $padding-md * 1.5;
    .header {
      color: $teal;
    }
  }
}
.footerBtn {
  margin-top: $margin-sm;
  @include mq(xs) {
    position: absolute;
    bottom: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
// Representative
.addRepresentative {
  border-radius: 4px;
  background: $teal-50;
  min-height: 650px;
  @include mq(xs) {
    position: absolute;
    min-height: 100px;
    padding: $padding-lg;
    bottom: 210px;
    width: 100%;
  }

  .plusCircleContent {
    text-align: center;
    font-size: $font-lg;
    font-weight: 500;
    color: $teal;
  }
  .plusCircle {
    color: $teal;
    opacity: 0.3;
  }
}
.addRepresentative:hover {
  .plusCircle {
    opacity: 1;
  }
}
.updatebtn {
  float: right;
}

//

.representativeContainer {
  display: flex;
  column-gap: 20px;
  overflow: auto;
  width: 100%;
  .form {
    width: 400px;
    min-width: 400px;
    @include mq(xs) {
      width: 100%;
      min-width: 100%;
      padding: $padding-md;
    }
  }
  button {
    @include mq(xs) {
      width: 100%;
      min-width: 100%;
    }
  }

  .label {
    color: $black-700;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: $margin-md;
  }
  .value {
    font-weight: 500;
    margin-bottom: $margin-lg * 1.25;
  }
}
.addBtn {
  @include mq(xs) {
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-bottom: 30px;
    margin-top: 0;
  }
}
.updatebtnSection {
  @include mq(xs) {
    background: $teal-900;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 24px;
    .updatebtn {
      width: 100% !important;
      border: none;
    }
  }
}
