@import "@/assets/scss/variables.scss";
@import "@/assets/scss/mixins.scss";

.navbar {
  background: $white 0% 0% no-repeat padding-box;
  img {
    @include mq(xs) {
      width: 160px;
    }
  }
}
.linksContainer {
  margin-left: auto;
  margin-right: auto;
  gap: 80px;
  color: $black-700;
  @include mq(md) {
    gap: 15px;
  }
  .profileContainer {
    display: flex;
    gap: 30px;

    @include mq(md) {
      display: none !important;
    }
  }
}
.contact {
  border: 2px solid $black-700;
  border-radius: 50px;
  gap: 5px;
  color: $black-700;
  text-decoration: none;
  padding-left: $padding-xs;
  padding-right: $padding-xs;
  img {
    height: 8px;
  }
}
.navItem {
  gap: 10px;
  color: $black-700;
  text-decoration: none;

  img {
    height: 8px;
  }
}
.profileContainer {
  display: flex;
  gap: 30px;

  @include mq(md) {
    display: none;
  }
}
.profile {
  height: 30px;
  width: 30px;
  background: $secondary-color;
  color: $white;
  font-size: $font-sm;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.dropdownItems {
  list-style: none;
  padding: $padding-md $padding-md 0 $padding-md;

  :hover {
    cursor: pointer;
  }
}
