@import "@/assets/scss/variables.scss";
@import "@/assets/scss/mixins.scss";
.sideContainer {
  width: 100%;
  height: 100%;
  background-color: $teal-50;
  .sidebarHeader {
    background: $teal-900;
    width: 100%;
  }
  .listGroup {
    width: 100%;
    padding-left: 0px;
    border: none;
    @include mq(xs) {
      display: flex;
      margin: 0;
      position: absolute;
      top: 110px;
      padding-left: 0px;
    
    }

    li.listGroupItem {
      background: $white;
      cursor: pointer;
      max-height: 200px;
      min-height: 70px;
      padding: $padding-xs * 2.5 0;
      border: none;
      display: flex;
      margin-top: $margin-sm;

      @include mq(xs) {
        flex-direction: row-reverse;
        width: 100%;
        min-height: 50px;
        white-space: nowrap;
        padding: 0 $padding-sm;
        border-bottom: 3px solid $teal-50;
      }
      img {
        @include mq(xs) {
          display: none;
        }
      }
      p.text-sm {
        font-size: 0.85em;
      }
      &.activePage {
        border: 2px solid $teal-500;
        @include mq(xs) {
          border: none;
          border-bottom: 3px solid $teal;
        }
      }
      &.bgProduct {
        background: $tertiary-color 0% 0% no-repeat padding-box;
        &:hover {
          border: none;
        }
      }
      &:hover {
        border: 2px solid $teal-900;
        @include mq(xs) {
          border: none;
          border-bottom: 3px solid $teal;
        }
      }
      .outerCircle {
        width: 21px;
        height: 21px;
        border-radius: 100%;
        border: 1px solid #3397fd;
      }
      @include mq(xs) {
        &:nth-child(2) {
          display: none !important;
        }
      }
    }
    h6 {
      color: $black-700;
      font-weight: medium;
      font-size: $font-md;
      @include mq(xs) {
        font-size: $font-sm;
        margin: 0;
      }
    }
    p {
      @include mq(xs) {
        display: none;
      }
    }
    .text-subtitle {
      color: $gray-100;
      font-weight: normal;
      font-size: $font-sm;
    }
  }
  .blankCircle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid $primary-color;
    margin-right: $margin-xl;
    @include mq(xs) {
      margin-right: 0;
      width: 20px;
      height: 20px;
    }
  }
  .filledCircle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: $teal-900;
    border: 3px solid $primary-color;
    margin-right: $margin-xl;
  }
  .videoContainer {
    list-style-type: none;
    min-height: 250px;
    min-width: 350px;
    background: $gray-200;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    margin: $margin-sm $margin-md;
    @include mq(xs) {
      display: none;
    }
    .video {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .title {
      color: $white;
      margin-top: $margin-md;
    }
  }
}