@import "@/assets/scss/variables.scss";

.inventoryTable {
    min-height: 80vh;
    &.summaryScreen {
        min-height: 20vh;
    }

    .trashIcon {
        color: $primary-color;
        cursor: pointer;
    }
}