@import "@/assets/scss/variables.scss";

.tableContainer {
  overflow-x: auto;
  width: 100%;

  .table {
    min-width: 1300px;

    .tableHeader {
      background: $gray-50 0% 0% no-repeat padding-box;
      color: $black-700;
      padding: $padding-xs;
      tr {
        padding: $padding-xs;
      }

      th {
        text-align: center;
        font-weight: 500;
        font-size: $font-xs * 2;
        color: $black-700;
        padding: $padding-sm $padding-md;
      }
      .noBorder {
        border: hidden;
      }
    }
    .list {
      th,
      td {
        text-align: center;
        vertical-align: middle;
        font-size: $font-md;
        font-weight: normal;
        color: $black;
        padding: $padding-sm $padding-md;
      }

      .expandIcon {
        cursor: pointer;
      }
    }

    .tbody {
      tr {
        &:hover {
          background: $teal-100;
        }
      }
      &.Selected {
        background-color: $teal-100;
      }
    }
    
  }
}

.searchHeader {
  background-color: $primary-color;
  display: flex;
  align-items: center;
  margin: 0;
  .searchIcon {
    position: absolute;
    right: 22px;
    top: 10px;
    color: $gray;
  }
}
.heading {
  color: $white;
}
