@import "@/assets/scss/variables.scss";

.title {
  font-size: $font-lg;
  font-weight: small;
  color: $white;
  border: 0 none;
}

.card {
  border-radius: 15px 25px;
  border-color: $primary-color;
}

.textChange {
  font-size: $font-sm;
  .detail {
    color: $black;
    font-weight: 600;
  }
}

.nav {
  background-color: $teal;
  color: $white;
  margin-top: -30px;
}
.bordertitle {
  border: none;
  font-size: $font-xl;
  font-weight: medium;
}
