/* autoprefixer: off */
@import "@/assets/scss/theme.scss";
@import "~bootstrap/scss/bootstrap";

.app-container {
  padding: 0;
  overflow-x: hidden;
}
.inputTerm {
  .inputcheck {
    margin-left: $margin-lg;
  }
  a {
    color: $teal !important;
  }
}
