@import "@/assets/scss/variables";


.link {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &.default {
        color: inherit;
    }
    &.primary {
        color: $primary-color;
    }
}